.publication-comment-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    flex-wrap: wrap;
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
}

.publication-comment-text {
    margin-left: 15px;
}