/*root container*/
.explore-container {
    background-color: #171717;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Explore publication title*/
.explore-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/*Container that contains every publications*/
.publications-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Dark theme */
body {
    background-color: #333;
    color: white;
}

/* Loader text */
.loader {
    color: white;
}

/* Button on the bottom of the screen if you want to load more publications manually */
.load-more-button {
    background-color: #4CAF50; /* Green */
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.filter-dropdown {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5%;
}