/*root container*/
.explore-container {
    background-color: #171717;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

/*Explore publication title*/
.explore-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: yellow;
}

/*Container that contains every publications*/
.publications-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Loader text */
.loader {
    color: white;
}

.filter-dropdown {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10%;
}

@media only screen and (max-width: 480px) {
    .filter-dropdown {
        margin-left: 5%;
    }
}